#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.icon-hard {
  @apply text-6xl border border-orange-600 p-2 rounded-lg
}

.icon-soft {
  @apply border-2 border-orange-600 p-2 rounded-lg flex items-center justify-center
}

html {
  scroll-behavior: smooth;
}